*.class
/target/
/build/
/out/
/bin/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.gradle/
**/build/
!src/**/build/
.idea/
*.iml
*.iws
*.ipr
*.iws
.idea_modules/
.classpath
.project
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.vscode/
.code-workspace
/benchmark-results/
*_transformed.ttl
*_pg_schema.json
*.log
log/
logs/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes
*~
.directory
.Trash-*
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*
*.jfr
/src/test/resources/credentials.properties